<div class="addformatheadding">
  <h1>Thêm chuyến bay</h1>
  <form class="form-horizontal" style="margin-top: 20px;">
    <div class="form-group">
      <label for="flightcode">Mã chuyến bay: </label>
      <input class="form-control" style="width: 400px;" id="codeprice" placeholder="Nhập mã">
    </div>

    <div class="form-group">
      <label for="ticketprice">Giá vé: </label>
      <input class="form-control" style="width: 400px;" id="ticketprice" placeholder="Nhập giá vé:">
    </div>

    <div class="form-group">
      <label for="typeoffee">Loại phí: </label>
      <input class="form-control" style="width: 400px;" id="typeoffee" placeholder="Nhập loại phí">
    </div>

    <div class="form-group">
      <label for="departairport">Sân bay đi: </label>
      <input class="form-control"style="width: 400px;" id="departairport" placeholder="Tên sân bay">
    </div>

    <div class="form-group">
      <label for="arrivalairport">Sân bay đến: </label>
      <input class="form-control" style="width: 400px;" id="arrivalairport" placeholder="Tên sân bay">
    </div>

    <div class="form-group">
      <label for="departdate">Ngày bay đi: </label>
      <input class="form-control" style="width: 400px;" id="departdate" placeholder="DD/MM/YYYY">
    </div>

    <div class="form-group">
      <label for="departdate">Ngày bay đến: </label>
      <input class="form-control" style="width: 400px;" id="departdate" placeholder="DD/MM/YYYY">
    </div>
  </form>

  <button type="button" class="btn btn-primary">Thêm</button>
</div>
