<div class="addformatheadding">
  <h1>Thêm chặng bay</h1>
  <form class="form-horizontal" style="margin-top: 20px;">
    <div class="form-group">
      <label for="routecode">Mã chặng bay: </label>
      <input class="form-control" style="width: 400px;" id="routecode" placeholder="Nhập mã">
    </div>

    <div class="form-group">
      <label for="departairport">Sân bay đi: </label>
      <input class="form-control"style="width: 400px;" id="departairport" placeholder="Tên sân bay">
    </div>

    <div class="form-group">
      <label for="arrivalairport">Sân bay đến: </label>
      <input class="form-control" style="width: 400px;" id="arrivalairport" placeholder="Tên sân bay">
    </div>

    <div class="form-group">
      <label for="departdate">Ngày bay đi: </label>
      <input class="form-control" style="width: 400px;" id="departdate" placeholder="DD/MM/YYYY">
    </div>

    <div class="form-group">
      <label for="departdate">Ngày bay đến: </label>
      <input class="form-control" style="width: 400px;" id="departdate" placeholder="DD/MM/YYYY">
    </div>
  </form>

  <button type="button" class="btn btn-primary">Thêm</button>
</div>
