<div class="addformatheadding" ng-controller="addFlightCtrler"  ng-init="init()" >
  <h1>Thêm chuyến bay</h1>
  <label for="tickettype">Loại vé: </label>
  <form class="form-inline" style="margin-left:50px; padding-top:20px;">
    <label for="tickettype">Thương gia: </label>
    <select class="form-control" style="width:200px;" ng-options="item as item.value for item in ticketprices"
              ng-model="bussinessprice">
        <option disabled selected value><h1>Giá vé</h1></option>
    </select>
    <input class="form-control" style="width: 150px;" id="seats" ng-model="bussiness_seats" placeholder="Số lượng ghế" required>
  </form>
  <form class="form-inline" style="margin-left:50px; padding-top:20px;">
    <label for="tickettype">Phổ thông: </label>
    <select class="form-control" style="width:200px;" ng-options="item as item.value for item in ticketprices"
              ng-model="normalprice">
        <option disabled selected value><h1>Giá vé</h1></option>
    </select>
    <input class="form-control" style="width: 150px;" id="seats" ng-model="normal_seats" placeholder="Số lượng ghế" required>
  </form>

  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="typeoffee">Loại thuế: </label>
      <select class="form-control" style="width:400px;" ng-options="item as item.value for item in taxes"
      ng-model="taxtype">
        <option disabled selected value></option>
      </select>
    </div>
  </form>


  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="departairport">Sân bay đi: </label>
      <select id="departairport" class="form-control" style="width:400px;" ng-options="item as item.name for item in Airports"
         ng-model="from">
        <option disabled selected value></option>
      </select>
    </div>
  </form>

  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="arrivalairport">Sân bay đến: </label>
      <select class="form-control" style="width:400px;" ng-options="item as item.name for item in Airports"
      ng-model="to">
        <option disabled selected value></option>
      </select>
    </div>
  </form>


  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="route">Chặng bay: </label>
      <select id="route" class="form-control" style="width:400px;" ng-options="item as item.code for item in routes"
      ng-model="route">
        <option disabled selected value></option>
      </select>
    </div>
  </form>

  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="departdate">Ngày bay đi: </label>
      <input type="date" class="form-control" style="width:400px;" id="dateDepart" ng-model="departdate" placeholder="DD/MM/YYYY" required>
    </div>
  </form>

  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="departtime">Thời gian bay đi: </label>
      <input type="time" class="form-control" style="width:200px;" id="departtime" ng-model="departtime" placeholder="hh:mm" required>
    </div>
  </form>

  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="arrivaldate">Ngày bay đến: </label>
      <input type="date" class="form-control" style="width:400px;" id="arrivaldate" ng-model="arrivaldate" placeholder="DD/MM/YYYY" required>
    </div>
  </form>

  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="arrivaltime">Thời gian bay đến: </label>
      <input type="time" class="form-control" style="width:200px;" id="arrivaltime" ng-model="arrivaltime" placeholder="hh:mm" required>
    </div>
  </form>

  <button type="button" class="btn btn-primary" ng-click="addflight()">Thêm</button>
</div>
